.DS_Store
*.swp
node_modules/
audios/
/en/
/es/
artifacts/
.env
**/.build/
**/tsconfig.tsbuildinfo
**/dist/
apps/cover-web-app/src/friends.js
apps/styleguide/src/built-frags.json
apps/styleguide/src/paperback-interior.css
apps/jones/src/preview.css
apps/storybook/storybook-static/
apps/poster/src/part-titles.ts
apps/poster/src/cover-props.ts
apps/cli/src/cmd/audio/derived/
apps/api/duplicate-podcast-downloads.json
apps/evans/.next/
apps/evans/styles/cover.css
**/.parcel-cache
**/.netlify/

# bundled actions
actions/ts-pack/actions/*/bundled/*
!actions/ts-pack/actions/*/bundled/*.js
!actions/ts-pack/actions/pdf/bundled/css1/
!actions/ts-pack/actions/pdf/bundled/css1/common.css
actions/ts-pack/actions/pdf/bundled/css1/ebook/*
!actions/ts-pack/actions/pdf/bundled/css1/pdf/*.css
